.locationsList {
    width: 100%;
    height: 100%;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;

    background-color: blue;
    list-style: none;
}

.locationsItem {
    border: solid 1px green;
    min-width: calc(100% - 6rem);
    aspect-ratio: 2/1;
    margin: 1rem;
}


.locationCard {
    background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locationsCardTitle {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}